# Data
Here is all of the data that I will be using for my capstone project analyzing income inequality disparities within Boston and how this manifests in its neighborhoods. I will be using a combination of Four square location data as well as Boston income data

### Per Capita Income by Boston Neighborhood

In [1]:
import numpy as np
import folium
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json

from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

from bs4 import BeautifulSoup

import xml

import folium

print('Libraries Imported.')

Libraries Imported.

In [9]:
url_mass = "https://en.wikipedia.org/wiki/Boston"
wiki_mass_url = requests.get(url_mass)
wiki_mass_data = pd.read_html(wiki_mass_url.text)
wiki_mass_data = wiki_mass_data[9]
wiki_mass_data

,Rank,ZIP code (ZCTA),Per capitaincome,Medianhouseholdincome,Medianfamilyincome,Population,Number ofhouseholds
0,1.0,02110 (Financial District),"$152,007","$123,795","$196,518",1486,981
1,2.0,02199 (Prudential Center),"$151,060","$107,159","$146,786",1290,823
2,3.0,02210 (Fort Point),"$93,078","$111,061","$223,411",1905,1088
3,4.0,02109 (North End),"$88,921","$128,022","$162,045",4277,2190
4,5.0,02116 (Back Bay/Bay Village),"$81,458","$87,630","$134,875",21318,10938
5,6.0,02108 (Beacon Hill/Financial District),"$78,569","$95,753","$153,618",4155,2337
6,7.0,02114 (Beacon Hill/West End),"$65,865","$79,734","$169,107",11933,6752
7,8.0,02111 (Chinatown/Financial District/Leather Di...,"$56,716","$44,758","$88,333",7616,3390
8,9.0,02129 (Charlestown),"$56,267","$89,105","$98,445",17052,8083
9,10.0,02467 (Chestnut Hill),"$53,382","$113,952","$148,396",22796,6351
10,11.0,02113 (North End),"$52,905","$64,413","$112,589",7276,4329
11,12.0,02132 (West Roxbury),"$44,306","$82,421","$110,219",27163,11013
12,13.0,02118 (South End),"$43,887","$50,000","$49,090",26779,12512
13,14.0,02130 (Jamaica Plain),"$42,916","$74,198","$95,426",36866,15306
14,15.0,02127 (South Boston),"$42,854","$67,012","$68,110",32547,14994
15,NaN,Massachusetts,"$35,485","$66,658","$84,380",6560595,2525694
16,NaN,Boston,"$33,589","$53,136","$63,230",619662,248704
17,NaN,Suffolk County,"$32,429","$52,700","$61,796",724502,287442
18,16.0,02135 (Brighton),"$31,773","$50,291","$62,602",38839,18336
19,17.0,02131 (Roslindale),"$29,486","$61,099","$70,598",30370,11282
20,NaN,United States,"$28,051","$53,046","$64,585",309138711,115226802
21,18.0,02136 (Hyde Park),"$28,009","$57,080","$74,734",29219,10650
22,19.0,02134 (Allston),"$25,319","$37,638","$49,355",20478,8916
23,20.0,02128 (East Boston),"$23,450","$49,549","$49,470",41680,14965
24,21.0,02122 (Dorchester-Fields Corner),"$23,432","$51,798","$50,246",25437,8216
25,22.0,02124 (Dorchester-Codman Square-Ashmont),"$23,115","$48,329","$55,031",49867,17275
26,23.0,02125 (Dorchester-Uphams Corner-Savin Hill),"$22,158","$42,298","$44,397",31996,11481
27,24.0,02163 (Allston-Harvard Business School),"$21,915","$43,889","$91,190",1842,562
28,25.0,"02115 (Back Bay, Longwood, Museum of Fine Arts...","$21,654","$23,677","$50,303",29178,9958
29,26.0,02126 (Mattapan),"$20,649","$43,532","$52,774",27335,9510
30,27.0,02215 (Fenway-Kenmore),"$19,082","$30,823","$72,583",23719,7995
31,28.0,02119 (Roxbury),"$18,998","$27,051","$35,311",24237,9769
32,29.0,02121 (Dorchester-Mount Bowdoin),"$18,226","$30,419","$35,439",26801,9739
33,30.0,02120 (Mission Hill),"$17,390","$32,367","$29,583",13217,4509

### Cleaning Up the Table to Make the Data Clearer

Starting by dropping the Percapitaincome and Medianfamilyincome columns. Then sorted by median household income.

In [10]:
wiki_mass_data.drop(['Per capitaincome', 'Medianfamilyincome'], axis=1,inplace=True)
wiki_mass_data.head()

,Rank,ZIP code (ZCTA),Medianhouseholdincome,Population,Number ofhouseholds
0,1.0,02110 (Financial District),"$123,795",1486,981
1,2.0,02199 (Prudential Center),"$107,159",1290,823
2,3.0,02210 (Fort Point),"$111,061",1905,1088
3,4.0,02109 (North End),"$128,022",4277,2190
4,5.0,02116 (Back Bay/Bay Village),"$87,630",21318,10938

In [15]:
wiki_mass_data.sort_values(by='Medianhouseholdincome', ascending=True)

,Rank,ZIP code (ZCTA),Medianhouseholdincome,Population,Number ofhouseholds
1,2.0,02199 (Prudential Center),"$107,159",1290,823
2,3.0,02210 (Fort Point),"$111,061",1905,1088
9,10.0,02467 (Chestnut Hill),"$113,952",22796,6351
0,1.0,02110 (Financial District),"$123,795",1486,981
3,4.0,02109 (North End),"$128,022",4277,2190
28,25.0,"02115 (Back Bay, Longwood, Museum of Fine Arts...","$23,677",29178,9958
31,28.0,02119 (Roxbury),"$27,051",24237,9769
32,29.0,02121 (Dorchester-Mount Bowdoin),"$30,419",26801,9739
30,27.0,02215 (Fenway-Kenmore),"$30,823",23719,7995
33,30.0,02120 (Mission Hill),"$32,367",13217,4509
22,19.0,02134 (Allston),"$37,638",20478,8916
26,23.0,02125 (Dorchester-Uphams Corner-Savin Hill),"$42,298",31996,11481
29,26.0,02126 (Mattapan),"$43,532",27335,9510
27,24.0,02163 (Allston-Harvard Business School),"$43,889",1842,562
7,8.0,02111 (Chinatown/Financial District/Leather Di...,"$44,758",7616,3390
25,22.0,02124 (Dorchester-Codman Square-Ashmont),"$48,329",49867,17275
23,20.0,02128 (East Boston),"$49,549",41680,14965
12,13.0,02118 (South End),"$50,000",26779,12512
18,16.0,02135 (Brighton),"$50,291",38839,18336
24,21.0,02122 (Dorchester-Fields Corner),"$51,798",25437,8216
17,NaN,Suffolk County,"$52,700",724502,287442
20,NaN,United States,"$53,046",309138711,115226802
16,NaN,Boston,"$53,136",619662,248704
21,18.0,02136 (Hyde Park),"$57,080",29219,10650
19,17.0,02131 (Roslindale),"$61,099",30370,11282
10,11.0,02113 (North End),"$64,413",7276,4329
15,NaN,Massachusetts,"$66,658",6560595,2525694
14,15.0,02127 (South Boston),"$67,012",32547,14994
13,14.0,02130 (Jamaica Plain),"$74,198",36866,15306
6,7.0,02114 (Beacon Hill/West End),"$79,734",11933,6752
11,12.0,02132 (West Roxbury),"$82,421",27163,11013
4,5.0,02116 (Back Bay/Bay Village),"$87,630",21318,10938
8,9.0,02129 (Charlestown),"$89,105",17052,8083
5,6.0,02108 (Beacon Hill/Financial District),"$95,753",4155,2337

In [19]:
wiki_mass_data = wiki_mass_data.rename(index=str, columns={'Medianhouseholdincome': 'Median Household Income', 'ZIP code (ZCTA)': 'Zip Code','Number ofhouseholds':'Number of Households'})
wiki_mass_data.head()

,Rank,Zip Code,Median Household Income,Population,Number of Households
0,1.0,02110 (Financial District),"$123,795",1486,981
1,2.0,02199 (Prudential Center),"$107,159",1290,823
2,3.0,02210 (Fort Point),"$111,061",1905,1088
3,4.0,02109 (North End),"$128,022",4277,2190
4,5.0,02116 (Back Bay/Bay Village),"$87,630",21318,10938

In [16]:
address = 'Boston, MA'

geolocator = Nominatim(user_agent='Bos_explorer')
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The Geographical Coordinates of Boston are {}, {}.'.format(latitude, longitude))

The Geographical Coordinates of Boston are 42.3602534, -71.0582912.

So this concludes the data that I will be using for this project. Using these coordinates and zip code data, I will use the foursquare location data to analyze each neighborhood to see the top venues, and then shall compare and contrast between the res